In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy as sp
import statsmodels.formula.api as smf 
import statsmodels.api as sm

In [2]:
df=pd.read_csv('Customer_Order.csv')

In [3]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
phillippines_value=df['Phillippines'].value_counts()
indonesia_value=df['Indonesia'].value_counts()
malta_value=df['Malta'].value_counts()
india_value=df['India'].value_counts()
print(phillippines_value)
print(indonesia_value)
print(malta_value)
print(india_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [6]:
chistat = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chistat[0], chistat[1]))
print('Interpret by p-Value')
if chistat[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=3.858961 p-value=0.277102
Interpret by p-Value
we accept null hypothesis

In [7]:
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chistat[2])
observed_chi_val = chistat[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected')
else:
       print ('Null hypothesis cannot be excepted')

Interpret by critical value
Null hypothesis cannot be rejected